:root {
  --text-color: #eee5e9;
  --background-color: #d2bcdb;
  --accent-color: #8f148f52;
}

.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    &__Inner {
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }
    &__Back {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }
    &__Search {
      margin-right: 50px;
      display: inline-block;
      vertical-align: middle;

      input {
        height: 38px;
        line-height: 38px;
        border: none;
        background: transparent;
        color: #ccc;
        font-size: 16px;
        padding: 0 10px;
        text-align: center;
        margin: 5px 0;
        font-family: 'Noto Sans KR', sans-serif;
        width: 150px;
        outline: none;
        transition: background 0.5s ease-in-out;
        -webkit-transition: background 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out;
        -ms-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
      input:focus {
        background: rgba(0, 0, 0, 0.3);
      }
    }
    &__Inner > div {
      display: inline-block;
      vertical-align: middle;
    }
}

.Header.on .Header__Inner {
  visibility: hidden;
  opacity: 0;
}

.Header.on .Header__Back {
  visibility: visible;
  opacity: 1;
}

.gnb ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gnb ul:after {
    display: block;
    clear: both;
    content: '';
}
.gnb ul li {
    float: left;
    margin: 0 15px;
    opacity: .5;
    line-height: 60px;
    cursor: pointer;
}
.gnb ul li.on {
    opacity: 1;
}

.fa-search {
    font-size: 18px;
    color: #ccc;
    cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Black Han Sans", sans-serif;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar {
  justify-content: space-between;
  display: none;
  align-items: center;
  padding: 22px 12px;
  background-color: var(--background-color);

  &-logo {
    font-size: 24px;

    i {
      color: var(--accent-color);
    }
  }
  &-menu {
    display: none;
    padding-left: 0;
    list-style: none;

    li {
      padding: 8px 12px;
    }
    li:hover {
      background-color: var(--accent-color);
      border-radius: 5px;
    }
  }
  &-icon {
    justify-content: flex-end;
    display: none;
    list-style: none;
    padding-left: 0;
    color: var(--text-color);

    li {
      font-size: larger;
      padding: 8px 12px;
    }
  }
  &-more {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
  }
}

@include atMobile {

  .Header {
    &__Inner {
      display: none;
    }
    &__Back {
      display: none;
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

    &-menu {
      display: none;
      flex-direction: column;
      text-align: center;
      width: 100%;

      a {
        display: block;
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      width: 100%;

    }

    &-more {
      display: block;

    }
  }

  .navbar-menu-open,
  .navbar-icon-open {
    display: flex;
  }

}
