:root {
  --text-color: #eee5e9;
  --background-color: #d2bcdb;
  --accent-color: #8f148f52;
}

* {
  box-sizing: border-box;
  font-family: "Black Han Sans", sans-serif;
  color: $white;
  
}
a {
  text-decoration: none;
  color: var(--text-color);
}
